<ion-header>
	<ion-navbar>
		<button menuToggle *ngIf="!session">
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>{{session.Name}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div *ngIf="session" class="selection">
		<ion-list>
			<ion-item *ngFor="let u of session.Users">
				<ion-label>{{u.Name}}</ion-label>
				<ion-select [(ngModel)]="user.Vote" (ngModelChange)="castVote($event)" *ngIf="u.Name == user.Name">
					<ion-option value="1">1</ion-option>
					<ion-option value="3">3</ion-option>
					<ion-option value="5">5</ion-option>
					<ion-option value="8">8</ion-option>
					<ion-option value="13">13</ion-option>
					<ion-option value="20">20</ion-option>
					<ion-option value="40">40</ion-option>
					<ion-option value="?">?</ion-option>
				</ion-select>
				<ion-label *ngIf="u.Name != user.Name && showVotes" class="pull-right">{{u.Vote}}</ion-label>
				<ion-icon name="checkmark-circle" *ngIf="u.Name != user.Name && !showVotes && u.Vote != null" item-right></ion-icon>
			</ion-item>
		</ion-list>
		<button ion-button block *ngIf="user.Name == session.CreatedBy.Name" (click)="showClicked()">Show Votes</button>
	</div>
</ion-content>