<ion-header>
	<ion-navbar>
		<button menuToggle *ngIf="!session">
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>{{session.Name}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div *ngIf="session" class="selection">
		<ion-list>
			<ion-item *ngFor="let user of session.Users">
				<ion-label>{{user.Name}}</ion-label>
				<ion-select [(ngModel)]="vote">
					<ion-option value="1">1</ion-option>
					<ion-option value="3">3</ion-option>
					<ion-option value="5">5</ion-option>
				</ion-select>
			</ion-item>
		</ion-list>
	</div>
</ion-content>